@model Musify_web.Models.album

@{
    ViewBag.Title = "album_delete";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="container pt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border shadow p-4">
            <h3>Are you sure you want to delete this?</h3>
            <div>
                
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Album_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Album_name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Album_year)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Album_year)
                    </dd>

                </dl>

                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    <h6 class="text-danger"> Make Sure You Delete Songs Before Deleting Album</h6>
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "Album_display") 
                    </div>
                }
            </div>
        </div>
    </div>
</div>
